BooleanColumn(
    {% if nullable is defined %}nullable={{ nullable }},{% endif %}
    {% if unique is defined %}unique={{ unique }},{% endif %}
    {% if generator is defined %}generator={{ generator }},{% endif %}
) 